<%- include('partials/header', { pageTitle: pageTitle, dados: dados }) %>

<section>
    <div class="container mx-auto max-w-3xl px-4">
        <h2 class="text-3xl font-bold mb-6">Cadastrar Projetos</h2>
        <form action="/projetos" method="POST" class="bg-slate-800 p-4 rounded mb-6">
            <input type="text" name="nome" placeholder="Nome do projeto" required class="w-full p-2 mb-3 rounded text-black">
            <textarea name="descricao" placeholder="Descrição do projeto" required class="w-full p-2 mb-3 rounded text-black"></textarea>
            <button class="bg-blue-600 px-4 py-2 rounded text-white">Cadastrar</button>
        </form>
        <br><br>
        <h1 class="text-3xl font-bold mb-6">Meus Projetos</h1>

        <ul class="space-y-4">
            <% projetos.forEach(p => { %>
                <li class="bg-slate-800 p-4 rounded shadow">
                    <h2 class="text-xl font-semibold"><%= p.nome %></h2>
                    <p class="mb-2"><%= p.descricao %></p>
                    <form action="/projetos/<%= p.id %>/delete" method="POST" class="inline">
                        <button class="text-red-400 hover:underline">Excluir</button>
                    </form>
                    <a href="/projetos/<%= p.id %>/edit" class="ml-4 text-blue-400 hover:underline">Editar</a>
                </li>
            <% }) %>
        </ul>
    </div>
</section>

<%- include('partials/footer', { dados: dados }) %>
